html, body{
    background-color: #EBEBEB;
    width: 100% !important;
    min-height: 100vh !important;
}

:root{
    /*cores*/
    --azul-claro-1:#71BBB9;
    --azul-cabecalho: #6FBCAA;
    --azul-botoes: #40A7A0;
    --azul-botoes-2: #32837d;
    --texto-2: #A7A7A7;
    --texto-3: #259B9B;
    --container-pequeno: #D9D9D9;

    /*fontes*/
    --fonte-estilizada-1: 'IM Fell French Canon SC'; 
}

*{
    margin: 0;
    padding: 0;
}



/*Header*/
.cabecalho{
    background-color: var(--azul-cabecalho);
    width: 100%;
}

.titulo-cabecalho{
    font-family: var(--fonte-estilizada-11);
    color: #fff;
    font-size: 25px;
}

.cabecalho2{
    color: #fff;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;

}

.content{
    transition: 1s;
}



/*Body*/
    /*Tela de login*/
.sinalBemVindo{
    background-color: var(--azul-claro-1);
    color: #fff;
    border-radius: 22px;
}

.cardLoginCadastro{
    border-top-color: #C3C3C3;
    border-radius: 25px;
    border-top-width: medium;
    border-top-style: solid;
}

.textoAzul3{
    color: var(--texto-3);
}

.botoes{
    background-color: var(--azul-botoes);
    color: #fff;
    border: none;
}



    /*Home page - meu lateral*/
.modal{
    width: 300px;
    color: #fff;
    
}

.modal-content{
    width: 300px;
    background-color: var(--azul-cabecalho);
}

.modal-header{
    background-color: var(--azul-botoes);
}

.modal-body{
    background-color: var(--azul-cabecalho);
    border: none;    
}

.itens-menu-lateral:hover{
    background-color: var(--texto-3);
    padding: auto;
    border-radius: 22px;
}

.modal-buton{
    background-color: var(--azul-botoes-2);
    color: #fff;
}

.modal-footer{
    background-color: var(--azul-botoes);
}


/*Home page - conteúdo*/

.container-conteudo{
    border-top-color: var(--texto-2);
    border-radius: 22px;
    border-top-width: medium;
    border-top-style: solid;
}

.itens-home-page{
    color: var(--texto-3);
    text-decoration: none;
    font-size: 25px;
}

.container-pequeno{
    background-color: var(--container-pequeno);
    border-radius: 22px;
    font-size: 20px;
    color: var(--texto-3);
    font-weight: bold;
}

.imagens{
    max-width: 65%;
    max-height: 65%;
    padding: 0%;
    margin: 3px;
    border-radius:22px
}


/*Cadastrar bens*/
.sinalizador{
    background-color: var(--azul-cabecalho);
    color: #fff;
    font-size: 20px;
}

.sinalizador-selecionado{
    background-color: var(--texto-3);
    color: #fff;
    font-size: 20px;
}

.formulario{
    width: 100%;
    padding: 0%;
    font-size: 20px;
}

.form-control{
    color: var(--texto-2);
}

input{
    color: var(--texto-2);
}

select{
    color: var(--texto-2);
}

/*Exclusão de patrimônio*/

table{
    border-radius: 22px;
    overflow: hidden;
}

.cabecalho-itens{
    background-color: var(--texto-3);
    color: #fff;
    height: 50px;
}

.conteudo-itens{
    background-color: var(--azul-cabecalho);
}

.botao-personalizado-itens{
    background-color: var(--azul-cabecalho);
    border: none;
    color: #fff;
}

/*Exclusão de patrimônio - modal*/

.modalExcluir{
    margin-left: 40%;
    margin-right: 40%;
    padding: auto;
    color: #fff;
    border-radius: 22px;
}

.modal-footer{
    border-radius: 22px;
    border-color: #fff;
}


/*IDs*/
/*Tela - Categorias*/
#categorias{
    text-decoration: none;
}


/*ID*/
/*Detalhes dos itens*/
#detalhes{
    border-style: solid;
    border-color: var(--texto-2);
    border-radius: 22px;
    border-width: 4px;
}

/*Reservas*/